doctype html
block variables

	- title = title || "Untitled Page"
	- subtitle = subtitle || ""
	- breadcrumb = [{name:"Dashboard"}]
	- notifications = notifications || []
	- sidebarItems =  sidebarItems || [{link:"#", name:title, icon:"dashboard", selected:true}]
head
	meta(charset='UTF-8')
	title Mabel Ticketing | #{title}
	meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
	block css
		style(type="text/css").
			.ng-cloak {
				display:none!important;
			}
			.box-title small {
				color: inherit;
			}
		link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', rel='stylesheet', type='text/css')
		link(href='/components/admin-lte/css/AdminLTE.css', rel='stylesheet', type='text/css')
		link(href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet', type='text/css')
body(class="skin-black" ng-app="mabel.admin" ng-controller="AdminPageController as adminPage")
	header.header
		include ./header.jade
	.wrapper.row-offcanvas.row-offcanvas-left(ng-switch="adminPage.pageStatus" class="ng-cloak" ng-cloak)
		aside.left-side.sidebar-offcanvas
			section.sidebar
				include ./sidebar.jade
		aside.right-side(ng-switch-when="0")
			section.content 
				h2 Loading...
		aside.right-side(ng-switch-when="1")
			section.content 
				h2 You are not logged in.
				a(href="/login") Click here to log in.
		aside.right-side(ng-switch-when="2")
			section.content 
				h2 You are not authorised to view this page.
		aside.right-side(ng-switch-when="3")
			section.content-header
				h1 #{title}
					small #{subtitle}
				ol.breadcrumb
					each val, i in breadcrumb
						if (i<breadcrumb.length-1)
							li
								a(href=val.link) #{val.name}
						else 
							li(class="active") #{val.name}
			section.content
				block content
					| Hello admin panel!
	block scripts
		// TODO?: Can/should bower do automatic incuding/dependency resolution for us?

		// jquery
		script(src='/components/jquery/dist/jquery.min.js')
			
		// misc
		script(type="text/javascript", src="/components/moment/moment.js")
		
		// bootstrap
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script(type="text/javascript", src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
		script(src='/components/admin-lte/js/app.js')

		// angular
		script(type="text/javascript", src="/components/angular/angular.js")
		script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
		script(type="text/javascript" src="/components/angular-resource/angular-resource.js")
		script(type="text/javascript" src="/components/ng-table/ng-table.min.js")
		// bootstrapping
		script(type = "text/javascript" src="/js/mabel.js")

		// shared
		script(type = "text/javascript" src="/js/shared/mabel.shared.js")
		script(type = "text/javascript" src="/js/shared/mabeltoken.factory.js")
		script(type = "text/javascript" src="/js/shared/datetimepicker.directive.js")
		script(type = "text/javascript" src="/js/shared/mabelresource.factory.js")
		script(type = "text/javascript" src="/js/shared/user.factory.js")
		script(type = "text/javascript" src="/js/shared/apicaller.factory.js")
		
		// admin
		script(type = "text/javascript" src="/js/admin/mabel.admin.js")
		script(type = "text/javascript" src="/js/admin/adminpage.controller.js")