doctype html
block variables

	- title = title || "Untitled Page"
	- subtitle = subtitle || ""
	- breadcrumb = [{name:"Dashboard"}]
	- notifications = notifications || []
	- sidebarItems =  sidebarItems || [{link:"#", name:title, icon:"dashboard", selected:true}]
head
	meta(charset='UTF-8')
	title Mabel Ticketing | #{title}
	meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
	block css
		link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', rel='stylesheet', type='text/css')
		link(href='/components/admin-lte/css/AdminLTE.css', rel='stylesheet', type='text/css')
		link(href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet', type='text/css')
body(class="skin-black")
	header.header
		include ./header.jade
	.wrapper.row-offcanvas.row-offcanvas-left
		aside.left-side.sidebar-offcanvas
			section.sidebar
				include ./sidebar.jade
		aside.right-side
			section.content-header
				h1 #{title}
					small #{subtitle}
				ol.breadcrumb
					each val, i in breadcrumb
						if (i<breadcrumb.length-1)
							li
								a(href=val.link) #{val.name}
						else 
							li(class="active") #{val.name}
			section.content
				block content
					| Hello admin panel!
	block scripts
		// jquery
		script(src='/components/jquery/dist/jquery.min.js')
			
		// misc
		script(type="text/javascript", src="/components/moment/moment.js")
		
		// bootstrap
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script(type="text/javascript", src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
		script(src='/components/admin-lte/js/app.js')

		// angular
		script(type="text/javascript", src="/components/angular/angular.js")
		script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
		// bootstrapping
		script(type = "text/javascript" src="/js/mabel.js")

		// shared
		script(type = "text/javascript" src="/js/shared/mabel.shared.js")
		script(type = "text/javascript" src="/js/shared/datetimepicker.directive.js")
		script(type = "text/javascript" src="/js/shared/api.factory.js")
		
		// admin
		script(type = "text/javascript" src="/js/admin/mabel.admin.js")
		script(type = "text/javascript" src="/js/admin/adminpanel.controller.js")
