//- Copyright (C) 2015  Mabel Ticketing
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript" src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript" src="/lib/components/angular-resource/angular-resource.js")

	// bootstrap
	script(type="text/javascript" src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	script(type="text/javascript", src="/lib/components/lodash/lodash.js")
	script(type="text/javascript" src="/lib/components/moment/moment.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/apicaller.factory.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	script(type="text/javascript" src="/js/shared/mabelresource.factory.js")
	script(type="text/javascript" src="/js/resources/user.js")

	// dash
	script(type="text/javascript" src="/js/dash/mabel.dash.js")
	script(type="text/javascript" src="/js/dash/dash.controller.js")

	// css
	link(rel="stylesheet", type="text/css", href="/css/main.min.css")

block title
	title Ticket Management

block content
	div(ng-app="mabel.dash" ng-controller="DashController as dashCtrl" ng-view)

		h1.h1 Ticket Management - {{ dashCtrl.user.name }}

		.row
			.col-xs-12
				p Welcome to the Emmanuel College May Ball ticketing system. Click #[a(href="/logout") here] to logout.

		.panel.panel-info
			.panel-heading Available tickets
			.panel-body
				div
					p
						em Please note that, following our technical issues at launch, you may find that you are able to book tickets outside of your allowance.
							| All tickets booked will be reviewed, and if any are found to be in breach of the allowance listed below, they will be cancelled.
				div(ng-if="dashCtrl.user.groups.indexOf(2) >= 0")
					p We have identified you as a #[b current student of Emmanuel College]. If this is incorrect, please immediately email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
					p At #[b midday on 25th January], you will be able to reserve a total of #[b 1] discounted standard ticket.
					p At #[b 9am on 27th January], you will be able to book a total of #[b 6] tickets, including any pre-reserved tickets, of which:
						ul
							li Up to #[b 2] may be Queue Jump tickets.
							li Only #[b 1] may be discounted. Note that the discount may not be visible during booking, but will be applied manually before payment is taken.

				div(ng-if="dashCtrl.user.groups.indexOf(3) >= 0")

					p We have identified you as an #[b alumnus or affiliate MCR member of Emmanuel College]. If this is incorrect, please immediately email #{ ticketing_officer } #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].

					p At #[b midday on 25th January], you will be able to reserve a total of #[b 1] Standard ticket.
					p At #[b 9am on 27th January], you will be able to book a total of #[b 2] tickets, including any pre-reserved tickets, of which:
						ul
							li Up to #[b 2] may be Queue Jump tickets.

				div(ng-if="dashCtrl.user.groups.indexOf(2) < 0 && dashCtrl.user.groups.indexOf(3) < 0")
					p We have identified you as neither a current student nor alumnus of Emmanuel College. If this is incorrect, please immediately email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
					p At #[b 22:00 on 3rd February], you will be able to book a total of #[b 2] tickets,of which:
						ul
							li Up to #[b 2] may be Queue Jump tickets.

				p If tickets are sold out you will automatically be added to the waiting list when you book.

		.row
			.col-xs-12.col-md-4.col-md-offset-4
				a.btn.btn-xlarge.btn-info(href="/book" style="width:100%;") Book tickets


		h2.h2 Your tickets

		p(ng-if="dashCtrl.ticketsBookedLoading") #[em Loading...]

		p(ng-if="!dashCtrl.ticketsBookedLoading && !(dashCtrl.ticketsBooked.length > 0)")
			em You have not yet booked any tickets. Once you have booked tickets, you will be able to review your orders here.

		p(ng-if="dashCtrl.ticketsBooked.length !== 0") Please ensure the names listed below are accurate. You must enter your guests' names before #{ name_change_deadline }. Reserved tickets may be cancelled up until the moment your payment is received. Tickets paid for by college bill may be cancelled within two weeks of the original booking.

		table(ng-if="dashCtrl.ticketsBooked.length !== 0").table.table-striped.table-hover
			thead
				tr
					th(colspan=2) Ticket number
					th Guest name
					th Payment method
					th(style="width:75px;") Price
					th Status
					th
			tbody
				tr(ng-repeat="ticket in dashCtrl.ticketsBooked")
					td # {{ ticket.id }}
					td #[em ({{ ticket.name }})]
					td
						input.namechange-input(type="text" disabled class="{{ticket.guest_name_status}}" ng-model="ticket.guest_name" tabindex="{{$index + 1}}" ng-focus="dashCtrl.clearStatus(ticket)" style="width:100%;")
					//- td
					//- 	| {{ ticket.guest_name }}
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					td
						span.label(class="{{ticket.status=='PENDING' ? 'label-info' : (ticket.status=='CONFIRMED' || ticket.status=='COLLECTED') ? 'label-success' : 'label-warning'}}" style="width:100%;") {{ ticket.status=='PENDING' ? 'RESERVED' : ticket.status }}
					//-td(style="text-align:right")
						//-button.btn.btn-xs.btn-danger(ng-if="ticket.status=='PENDING'" tabindex="-1", ng-click="dashCtrl.cancelTicket(ticket)") x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
			tfoot
				tr
					th(colspan=2)
					td
					td #[strong Total:]
					td(style="text-align:right;")
						b &pound;{{ dashCtrl.totalValue | number:2 }}
					td
				tr
					th(colspan=2)
					td
					td Outstanding:
					td(style="text-align:right;") &pound;{{ dashCtrl.pendingValue | number:2 }}
					td

		p Please allow #[strong up to two weeks] for the payments you have made to become visible on this page.

		h2.h2 Payment Information
		p Due to the technical issues we encountered at launch, we request that you do not make payments until Monday 20th January, to allow us to verify that all tickets have been booked correctly.
		p Payment must be received #[strong within 14 days] of booking. Any tickets which are not paid for by this date may be cancelled without further notice. These payment details have also been emailed to you, along with your booking confirmation.

		.row
			.col-xs-12.col-md-4
				h4.h4 Cheque Payments
				p
					| Please make cheques payable to
					| #[strong Emmanuel College May Ball] and hand them in
					| to the Emmanuel College Porter's Lodge.
					| Please ensure that your name and ticket
					| number(s) are written on the back of the
					| cheque.

			.col-xs-12.col-md-4
				h4.h4 Bank Transfer Payments
				p
					| Please send the amount due to the following
					| account:
					table
						tr
							th(style="padding: 5px;padding-right: 20px;") Account Number
							td 60067911
						tr
							th(style="padding: 5px;") Sort Code
							td 20-17-19
						tr
							th(style="padding: 5px;") Account name
							td Emmanuel College May Ball
				p
					| Set the payment reference to your ticket number,
					| followed by your surname (e.g. #[em 32 SMITH]).
					| To pay for multiple tickets with a single bank transfer,
					| please include the ticket numbers for all the tickets
					| you wish to pay for: #[em 32/33 SMITH], for example.

			.col-xs-12.col-md-4
				h4.h4 College Bill Payments
				p
					| If you are paying by college bill,
					| no further action needs to be taken. The
					| price of your ticket will be added to your Lent term bill.
				p: em Please note that payment by college bill is only available to current students of Emmanuel College, and that only one ticket may be put on your end of term bill.

		h2.h2 Waiting List

		p(ng-if="dashCtrl.waitingListLoading") #[em Loading...]
		p(ng-if="!dashCtrl.transactionsLoading && !(dashCtrl.waitingListTickets.length > 0)")
			em You are not currently in the waiting list for any tickets.
		table.table.table-striped.table-hover(ng-if="dashCtrl.waitingListTickets.length > 0")
			thead
				tr
					th Ticket Type
					th Payment Method
					th(style="width:75px") Price
					th
			tbody
				tr(ng-repeat="ticket in dashCtrl.waitingListTickets")
					td {{ ticket.name }}
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					//-td(style="text-align:right")
						//-button.btn.btn-xs.btn-danger(tabindex="-1", ng-click="dashCtrl.cancelWaitingTicket(ticket)")  x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
