//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

extends ./main.jade

block scripts
	// angular
	script(type="text/javascript" src="/lib/components/angular/angular.js")
	script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
	script(type="text/javascript" src="/lib/components/angular-resource/angular-resource.js")
	
	// bootstrap
	script(type="text/javascript" src="/lib/components/angular-bootstrap/ui-bootstrap.min.js")
	script(type="text/javascript", src="/lib/components/underscore/underscore.js")
	script(type="text/javascript" src="/lib/components/moment/moment.js")

	// shared
	script(type="text/javascript" src="/js/shared/mabel.shared.js")
	script(type="text/javascript" src="/js/shared/apicaller.factory.js")
	script(type="text/javascript" src="/js/shared/mabeltoken.factory.js")
	script(type="text/javascript" src="/js/shared/mabelresource.factory.js")
	script(type="text/javascript" src="/js/resources/user.js")

	// dash
	script(type="text/javascript" src="/js/dash/mabel.dash.js")
	script(type="text/javascript" src="/js/dash/dash.controller.js")

	// css
	link(rel="stylesheet", type="text/css", href="/css/main.min.css")

block title
	title Ticket Management

block content
	div(ng-app="mabel.dash" ng-controller="DashController as dashCtrl" ng-view)
		
		h1.h1 Ticket Management - {{ dashCtrl.user.name }}

		.panel.panel-info
			.panel-heading Available tickets
			.panel-body
				div(ng-if="dashCtrl.user.groups.indexOf(2) >= 0")
					p We have identified you as a #[b current student of Emmanuel College]. If this is incorrect, please immediately email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
					p At #[b midday on 12th February], you will be able to pre-reserve #[b 1] Standard ticket. 
					p At #[b midday on 13th February], you will be able to reserve a total of #[b 6] tickets, including any pre-reserved tickets, of which:
						ul 
							li Up to #[b 6] may be Standard tickets
							li Up to #[b 2] may be Queue Jump tickets.

				div(ng-if="dashCtrl.user.groups.indexOf(3) >= 0")
					p We have identified you as an #[b alumnus of Emmanuel College]. If this is incorrect, please immediately email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
					p At #[b midday on 13th February], you will be able to reserve a total of #[b 2] tickets, of which:
						ul 
							li Up to #[b 2] may be Standard tickets
							li Up to #[b 2] may be Queue Jump tickets.

				div(ng-if="dashCtrl.user.groups.indexOf(2) < 0 && dashCtrl.user.groups.indexOf(3) < 0")
					p We have identified you as neither a current student nor alumnus of Emmanuel College. If this is incorrect, please immediately email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
					p At #[b midday on 13th February], you will be able to reserve a total of #[b 6] tickets,of which:
						ul 
							li Up to #[b 6] may be Standard tickets
							li Up to #[b 2] may be Queue Jump tickets.
				p If tickets are sold out you will automatically be added to the waiting list when you book.
		
		.row
			.col-xs-12
				p Welcome to the Emmanuel College June Event ticketing system. Click #[a(href="/logout") here] to logout.
			.col-xs-12.col-md-4.col-md-offset-4
				a.btn.btn-xlarge.btn-info(href="/book" style="width:100%;") Book tickets


		h2.h2 Your tickets

		p(ng-if="dashCtrl.ticketsBookedLoading") #[em Loading...]

		p(ng-if="!dashCtrl.ticketsBookedLoading && !(dashCtrl.ticketsBooked.length > 0)") 
			em You have not yet booked any tickets. Once you have booked tickets, you will be able to review your orders here.

		//- TODO: un hard-code date.
		p(ng-if="dashCtrl.ticketsBooked.length !== 0") Please ensure the names listed below are accurate. You must enter your guests' names before #{ name_change_deadline }. Reserved tickets may be cancelled up until the moment your payment is received. Tickets paid for by college bill may be cancelled within two weeks of the original booking.

		table(ng-if="dashCtrl.ticketsBooked.length !== 0").table.table-striped.table-hover
			thead
				tr
					th(colspan=2) Ticket number
					th Guest name
					th Payment method
					th(style="width:75px;") Price
					th Status
					th 
			tbody
				tr(ng-repeat="ticket in dashCtrl.ticketsBooked")
					td # {{ ticket.id }}
					td #[em ({{ ticket.name }})]
					td
						input(type="text" ng-model="ticket.guest_name" tabindex="{{$index + 1}}" ng-change="dashCtrl.nameChange(ticket);" ng-focus="dashCtrl.clearStatus(ticket)" style="width:100%;")
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					td
						span.label(class="{{ticket.status=='PENDING' ? 'label-info' : ticket.status=='CONFIRMED' ? 'label-success' : 'label-warning'}}" style="width:100%;") {{ ticket.status=='PENDING' ? 'RESERVED' : ticket.status }}
					td(style="text-align:right")
						button.btn.btn-xs.btn-danger(ng-if="ticket.status=='PENDING'" tabindex="-1", ng-click="dashCtrl.cancelTicket(ticket)") x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
			tfoot
				tr
					th(colspan=2)
					td
					td #[strong Total:]
					td(style="text-align:right;")
						b &pound;{{ dashCtrl.totalValue | number:2 }}
					td
				tr
					th(colspan=2)
					td
					td Outstanding:
					td(style="text-align:right;") &pound;{{ dashCtrl.pendingValue | number:2 }}
					td
		
		p Please allow #[strong up to two weeks] for the payments you have made to become visible on this page.

		h2.h2 Waiting List

		p(ng-if="dashCtrl.waitingListLoading") #[em Loading...]
		p(ng-if="!dashCtrl.transactionsLoading && !(dashCtrl.waitingListTickets.length > 0)") 
			em You are not currently in the waiting list for any tickets.
		table.table.table-striped.table-hover(ng-if="dashCtrl.waitingListTickets.length > 0")
			thead
				tr
					th Ticket Type
					th Payment Method
					th(style="width:75px") Price
					th 
			tbody
				tr(ng-repeat="ticket in dashCtrl.waitingListTickets")
					td {{ ticket.name }}
					td {{ ticket.payment_method }}
					td(style="text-align:right") &pound;{{ ticket.transaction_value | number:2 }}
					td(style="text-align:right")
						button.btn.btn-xs.btn-danger(tabindex="-1", ng-click="dashCtrl.cancelWaitingTicket(ticket)")  x
						//- span.label.label-notifier(class="label-{{ticket.id}} label-{{ticket._status}}") .
	