//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

doctype html
html
	head
		block title
			title #{ event_name } #{ event_year } | Mabel Ticketing
		
		block scripts
			link(rel="stylesheet", type="text/css", href="/css/main.min.css")
	body
		.container
			.col-xs-12.col-md-offset-1.col-md-10
				block content
			.col-xs-12.col-md-offset-1.col-md-10
				hr
			.col-xs-12.col-md-offset-1.col-md-10
				block footer
					p Is something wrong? For any queries, problems or complaints, please email #{ ticketing_officer } at  #[a(href="mailto #{ ticketing_email }") #{ ticketing_email }].
