//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

h1 Waiting List Transfer

p 
	| Thank you for joining the waiting list for tickets to Emmanuel College June
	| Event 2016. Some spaces have become available, and have been transferred to
	| your account. A summary of your new tickets is below.

table.emailTable
	thead
		tr
			th Ticket Number
			th Ticket Type
			th Payment Method
			th Price
			th Status
	tbody
		each ticket in ticketsAllocated 
			tr
				td # #{ ticket.id }
				td #{ ticket.ticket_type.name }
				td #{ ticket.payment_method.name }
				td &pound;#{ ticket.ticket_type.price }
				td
					span.label.label-info Booked
		if (donationPrice > 0)
			tr
				th Donations
				td
				td 
				td &pound;#{donationPrice}
				td
	tfoot
		tr
			th Total Due
			td
			td
			td &pound;#{totalPrice}
			td

if (totalPrice > 0)
	h2 Payment Information
	p Payment must be received within #[strong 14] days of the transfer (i.e. before #[strong #{payment_deadline}]). 
		| Any tickets which are not paid for by this date may be cancelled without further notice.

	h4 Cheque Payments
	p 
		| To pay for tickets by #[strong Cheque], 
		| please hand in a cheque made payable to 
		| #[strong Emmanuel College May Ball] 
		| to the Emmanuel College Porter's Lodge. 
		| Please ensure that your surname and ticket
		| number are written on the back of the
		| cheque. To pay for multiple tickets with a
		| single cheque, please include the ticket
		| numbers for all the tickets you wish to pay
		| for.

	h4 Bank Transfer Payments
	p 
		| To pay for tickets by #[strong Bank Transfer], 
		| please send the amount due to the following
		| account:

		table.emailTable(style="padding-bottom:10px;")
			tr 
				th(style="padding: 5px;padding-right: 20px;") Account Number
				td 60067911
			tr
				th(style="padding: 5px;") Sort Code
				td 20-17-19
			tr
				th(style="padding: 5px;") Account name
				td Emmanuel College May Ball
	p 
		| Please set the payment reference to your
		| surname followed by the ticket number above. 
		| For example, if your name is John Smith, 
		| your ticket reference should be 
		| #[em SMITH #{sampleID}]
		| . To pay for multiple tickets with a single
		| payment, simply use the ticket number of the
		| first ticket booked.


	h4 College Bill Payments
	p 
		| To pay for tickets by #[strong College Bill], 
		| no further action needs to be taken. The
		| price of your ticket will be added to your
		| Lent term bill. Please note that payment by
		| college bill is only available to current
		| students at Emmanuel College, and that only
		| one ticket may be put on your end of term
		| bill.

h2 Ticket Management
p You may now visit the #[a(href="http://tickets.emmajuneevent.com/dash") ticket management page].
	| On this page, you can add guest names to any tickets, or cancel any tickets or remaining waiting list slots.
p You will be able to change guest names on your tickets via the management page until #[b 7th June].
