extends ./main.jade

block scripts
	// angular
	script(type="text/javascript", src="/components/angular/angular.js")
	script(type="text/javascript" src="/components/angular-cookies/angular-cookies.js")
	// bootstrapping
	script(type = "text/javascript" src="/js/mabel.js")

	// shared
	script(type = "text/javascript" src="/js/shared/mabel.shared.js")
	script(type = "text/javascript" src="/js/shared/datetimepicker.directive.js")
	script(type = "text/javascript" src="/js/shared/apicaller.factory.js")
	
	// booking
	script(type = "text/javascript" src="/js/booking/mabel.booking.js")
	script(type = "text/javascript" src="/js/booking/booking.controller.js")

block title
	//- TODO: This is outside of scope for bookingCtrl
	title(ng-if="bookingCtrl.status == 'queueing'") Queueing...
	title(ng-if="bookingCtrl.status == 'booking'") Book your tickets!

block content
	div(ng-app="mabel.booking" ng-controller="BookingController as bookingCtrl" ng-view)
		div(ng-switch="bookingCtrl.status")
			
			div(ng-switch-when="queueing")
				h2 Queuing...
				p You are currently in position {{ bookingCtrl.queue.position }} of {{ bookingCtrl.queue.of }}.

			div(ng-switch-when="booking")
				form(ng-submit="bookingCtrl.submitBooking()" novalidate)

					h1 Booking
					h2 Welcome {{ bookingCtrl.user.name }}, please select your tickets.
					
					table
						thead
							tr
								th(style="width:200px;text-align:left;") Ticket types
								th(style="width:100px;text-align:left;") Price
								th(style="width:100px;text-align:left;") Qty.

						tbody(ng-repeat="ticket in bookingCtrl.available_tickets")
							tr
								td {{ ticket.name }}
								td £{{ ticket.price }}
								td
									input(type="hidden" 
										ng-model="bookingCtrl.booking.tickets[$index].ticket_type_id"
										value="ticket.ticket_type_id")
									select(ng-model="bookingCtrl.booking.tickets[$index].quantity")
										option(ng-value="0") 0
										option(ng-value="1") 1
										option(ng-value="2") 2
										option(ng-value="3") 3
										option(ng-value="4") 4

					h2 Charitable donation
					label
						p 
							input(type="checkbox" name=""	
								ng-model="bookingCtrl.booking.donate")
							| I wish to make a charitable donation of #[b £1.00] per ticket to your Charitable Causes.
					
					h2 Summary
					div(ng-if="bookingCtrl.meta.ticketQuantity > 0")
						h3 Your tickets
						ul
							li(ng-repeat="ticket in bookingCtrl.booking.tickets"
								ng-if="ticket.quantity > 0") 
								| {{ ticket.quantity }}x {{ ticket.name }} @ £{{ ticket.price | number:2 }} each
							
							li(ng-if="bookingCtrl.booking.donate") Charitable donation @ £1.00 per ticket
						
						p Total cost: £{{ bookingCtrl.meta.bookingSum | number:2 }}
					
					div(ng-if="bookingCtrl.meta.ticketQuantity == 0")
						p
							em You haven't selected any tickets for us to summarise :(
					
					h2 Payment Method
					p Please choose a payment method from the options below.
					p(ng-repeat="method in bookingCtrl.payment_methods")
						label
							input(type="radio"
								ng-model="bookingCtrl.booking.payment_method"
								ng-value="method.id")
							span #[b {{ method.name }}] - {{ method.description }}
					p(ng-if="bookingCtrl.booking.payment_method != -1") #[input(type="submit", value="Confirm")]

