//- a.btn.btn-primary(ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv") Export to CSV

table.table.table-hover(ng-table="tableParams", template-header="mabel-table-header", show-filter="true", export-csv="csv")
	tbody
		tr(ng-repeat="item in $data track by item.id"
			ng-click="selectItem(item)" tooltip="{{item._error}}" tooltip-placement="top")
			td(style="min-width:35px")
				span.badge(ng-class="{'bg-green':item._status==='success','bg-red':item._status==='error','bg-yellow':item._status==='pending'}" 
					style="color:transparent!important;" class="badge-{{item.id}}") {{ ((item._status !== undefined && item._status.length>1)? ".":"") }}
			td(ng-repeat="column in columns" sortable="column.name" filter="column.filter") 
				span(ng-if="column.type===undefined || !item.$edit") 
					span(ng-if="column.type==='date'") {{ item[column.name].format("DD MMM YYYY HH:mm") }}
					span(ng-if="column.type!=='date'") {{ item[column.name].toString() }}
				input(ng-if="column.type!==undefined && column.type==='date'&& item.$edit" type='text' date="item[column.name]"
					data-date-format="DD MMM YYYY HH:mm" datetimepicker)
				input(ng-if="column.type!==undefined && column.type!=='date' && item.$edit" type="{{column.type}}" ng-model="item[column.name]" name="{{column.name}}")
			td(ng-if="readOnly===undefined")
				button(ng-if="!item.$edit" class="btn btn-default btn-xs" ng-click="startEdit(item)") Edit
				button(ng-if="item.$edit" class="btn btn-primary btn-xs" ng-click="saveEdit(item)") Save
				button(ng-if="item.$edit" class="btn btn-danger btn-xs" ng-click="delete(item)") Delete
				button(ng-if="item.$edit" class="btn btn-default btn-xs" ng-click="cancelEdit(item)") Cancel
	tfoot(ng-if="readOnly===undefined")
		tr(data-toggle="tooltip" tooltip="{{item._error}}" tooltip-placement="right")
			td(data-title="' '" style="min-width:35px")
				span.badge(ng-class="{'bg-green':newItem._status==='success','bg-red':newItem._status==='error','bg-yellow':newItem._status==='pending'}" 
					style="color:transparent!important;" class="badge-new") {{ ((newItem._status !== undefined && newItem._status.length>1)? ".":"") }}
			td(ng-repeat="column in columns")

				input(ng-if="column.type!==undefined && column.type==='date'" type='text' date="newItem[column.name]"
					data-date-format="DD MMM YYYY HH:mm" datetimepicker)
				input(ng-if="column.type!==undefined && column.type!=='date'" type="{{column.type}}" ng-model="newItem[column.name]" name="{{column.name}}")
			td
				button(ng-click="submitNew()" class="btn btn-primary btn-xs") Create New Entry
a.btn.btn-primary.btn-sm(style="margin-left:10px; margin-bottom:10px;", ng-click='csv.generate($event, getFilename() + ".csv")' href='') Download Data