.box.box-solid.box-primary(ng-controller="UserListController as userList")
	.box-header
		h3.box-title Users
	.box-body.table-responsive.no-padding
		table.table.table-hover(ng-table="userList.tableParams" show-filter="true" )
			tbody
				tr(ng-repeat="user in $data track by user.id" 
					ng-mouseenter="userList.showTip(user.id)"
					ng-mouseleave="userList.hideTip(user.id)"
					ng-click="user._status=''; userList.selectUser(user);")
					td(data-title="' '" style="min-width:35px")
						span.badge(ng-class="{'bg-green':user._status==='success','bg-red':user._status==='error','bg-yellow':user._status==='pending'}" 
							style="color:transparent!important;" id="badge-{{user.id}}"
							data-toggle="tooltip" title="{{user._error}}" data-placement="right" data-trigger="manual") {{ ((user._status !== undefined && user._status.length>1)? ".":"") }}
					td(data-title="'ID'" sortable="'id'" filter="{'id':'text'}") {{ user.id }}
					td(data-title="'Name'" sortable="'name'" filter="{'name':'text'}") {{user.name}}
					td(data-title="'Email'" sortable="'email'" filter="{'email':'text'}") 
						a(href='mailto:{{user.email}}') {{ user.email }}
					td(data-title="'CRSID'" sortable="'crsid'" filter="{'crsid':'text'}") {{ user.crsid }}
					td(data-title="'Actions'")
						button Tickets
						button(ng-click="userList.delete(user)") Delete
			tfoot
				tr(ng-mouseenter="userList.showTip('new')"
					ng-mouseleave="userList.hideTip('new')"
					ng-click="userList.newUser._status=''")
					td(data-title="' '" style="min-width:35px")
						span.badge(ng-class="{'bg-green':userList.newUser._status==='success','bg-red':userList.newUser._status==='error','bg-yellow':userList.newUser._status==='pending'}" 
							style="color:transparent!important;" id="badge-new"
							data-toggle="tooltip" title="{{userList.newUser._error}}" data-placement="right" data-trigger="manual") {{ ((userList.newUser._status !== undefined && userList.newUser._status.length>1)? ".":"") }}
					td
						| New User: 
					td
						input(type="text" ng-model="userList.newUser.name" name="name")
					td
						input(type="email" ng-model="userList.newUser.email" name="email")
					td
						input(type="text" ng-model="userList.newUser.crsid" name="crsid")
					td
						button(ng-click="userList.submitNew()") Add
