//- Copyright (C) 2015  Mabel Ticketing 
//- GNU General Public License v2.0
//- https://github.com/mabelticketing/mabel/blob/master/LICENSE.txt

doctype html
block variables

	- title = title || "Untitled Page"
	- subtitle = subtitle || ""
	- breadcrumb = [{name:"Dashboard"}]
	- notifications = notifications || []
	- sidebarItems = [{link:"/admin", name:"Dashboard"}, {link:"#", name:"Event"}, {link:"/admin/users", name:"Users"}, {link:"/admin/reports", name:"Reports"}, {link:"/admin/tickets", name:"Tickets"}, {link:"/admin/transactions", name:"Transactions"}, {link:"/admin/barcodes", name:"Barcodes"}, {link:"/admin/scan", name:"Scan"}]
head
	meta(charset='UTF-8')
	title Mabel Ticketing | #{title}
	meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
	block css
		style(type="text/css").
			.ng-cloak {
				display:none!important;
			}
			.box-title small {
				color: inherit;
			}
			.form-group.has-info label {
				color: #00c0ef;
			}
			.form-group.has-info .form-control {
				border-color: #00c0ef !important;
				box-shadow: none;
			}
		link(href='/lib/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', rel='stylesheet', type='text/css')
		link(href='/lib/components/admin-lte/css/iCheck/minimal/blue.css', rel='stylesheet', type='text/css')
		link(href='/lib/components/admin-lte/css/AdminLTE.css', rel='stylesheet', type='text/css')
		link(href='/lib/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet', type='text/css')
body(class="skin-black" ng-app="mabel.admin" ng-controller="AdminPageController as adminPage")
	header.header
		include ./header.jade
	.wrapper.row-offcanvas.row-offcanvas-left(ng-switch="adminPage.pageStatus" class="ng-cloak" ng-cloak)
		aside.left-side.sidebar-offcanvas
			section.sidebar
				include ./sidebar.jade
		aside.right-side(ng-switch-when="0")
			section.content 
				h2 Loading...
		aside.right-side(ng-switch-when="1")
			section.content 
				h2 You are not logged in.
				a(href="/login") Click here to log in.
		aside.right-side(ng-switch-when="2")
			section.content 
				h2 You are not authorised to view this page.
		aside.right-side(ng-switch-when="3")
			section.content-header
				h1 #{title}
					small #{subtitle}
				ol.breadcrumb
					each val, i in breadcrumb
						if (i<breadcrumb.length-1)
							li
								a(href=val.link) #{val.name}
						else 
							li(class="active") #{val.name}
			section.content
				block content
	block scripts
		//- TODO?: Can/should bower do automatic incuding/dependency resolution for us?

		// jquery
		script(src='/lib/components/jquery/dist/jquery.min.js')
			
		// misc
		script(type="text/javascript", src="/lib/components/moment/moment.js")
		script(type="text/javascript", src="/lib/components/admin-lte/js/plugins/iCheck/icheck.min.js")
		script#mabel-table-header(type='text/ng-template')
			tr
				th 
				th.header(ng-repeat='column in columns',
					ng-class="{ 'sortable': column.sortable, 'sort-asc': tableParams.isSortBy(column.sortable, 'asc'), 'sort-desc': tableParams.isSortBy(column.sortable, 'desc') }",
					ng-click="tableParams.sorting(column.sortable, tableParams.isSortBy(column.sortable, 'asc') ? 'desc' : 'asc')")
					| {{column.title}}
				th Actions 
			tr.ng-table-filters(ng-show='show_filter')
				th
				th.filter(ng-repeat='column in columns')
					div(ng-repeat='(name, filter) in column.filter')
						input.input-filter.form-control(type="text", name="{{name}}", ng-model="tableParams.filter()[name]" ng-if="filter==='text'")
				th

		
		// angular
		script(type="text/javascript", src="/lib/components/angular/angular.js")
		script(type="text/javascript" src="/lib/components/angular-cookies/angular-cookies.js")
		script(type="text/javascript" src="/lib/components/angular-resource/angular-resource.js")
		script(type="text/javascript" src="/lib/components/ng-table/ng-table.js")
		script(type="text/javascript" src="/lib/components/ng-table-export/ng-table-export.js")

		// bootstrap
		//- script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script.
			// Add a dummy function to prevent errors
			jQuery.fn.tooltip = function() {
			};
		script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js")
		script(type="text/javascript", src="/lib/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
		script(type="text/javascript", src="/lib/components/bootstrap/js/collapse.js")
		script(src='/lib/components/admin-lte/js/AdminLTE/app.js')

		// bootstrapping
		script(type = "text/javascript" src="/js/mabel.js")

		// shared
		script(type = "text/javascript" src="/js/shared/mabel.shared.js")
		script(type = "text/javascript" src="/js/shared/mabeltoken.factory.js")
		script(type = "text/javascript" src="/js/shared/icheck.directive.js")
		script(type = "text/javascript" src="/js/shared/datetimepicker.directive.js")
		script(type = "text/javascript" src="/js/shared/mabelresource.factory.js")
		script(type = "text/javascript" src="/js/resources/user.js")
		script(type = "text/javascript" src="/js/shared/apicaller.factory.js")
		
		// admin
		script(type = "text/javascript" src="/js/admin/mabel.admin.js")
		script(type = "text/javascript" src="/js/admin/adminpage.controller.js")